<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">

    <title>حسابي</title>


</head>

<body>
    <div class="container">
        <h2>حسابي</h2>
        <div class="profile-pic-wrapper">

         <img class="profile-pic" 
         src="data:image/svg+xml;utf8,
           <svg xmlns='http://www.w3.org/2000/svg' width='300' height='300' viewBox='0 0 300 300'>
             <circle cx='150' cy='150' r='140' fill='%23052c25' stroke='%23c9a66b' stroke-width='12'/>
             <circle cx='150' cy='110' r='55' fill='%23c9a66b'/>
             <path d='M60 250 Q150 180 240 250' fill='%23c9a66b'/>
           </svg>">
        </div>

        <div class="profile-info">
            <p><strong>الاسم:</strong> {{ user.username }}</p>
            <p><strong>الإيميل:</strong> {{ user.email }}</p>
        </div>

        <div class="btn-container">
            <a class="btn" href="{{ url_for('loading_bp.account_settings') }}">تعديل البيانات</a>
            <a class="btn logout" href="{{url_for('loading_bp.landing_page')}}">الرجوع للرئيسية</a>
            <a class="btn logout" href="{{ url_for('loading_bp.logout') }}">تسجيل الخروج</a>
        </div>
    </div>
</body>
</html>
